{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="loginBody ">
		<form class="loginHome rect" method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="">
					Bonjour
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Deconnecter</a>
				</div>
			{% endif %}
			<h1>Connexion</h1><hr/>
			<h2 class=" font-weight-normal">C’est un plaisir de vous revoir !</h2>
			<hr/>
			<div class="login">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control " autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-lg btn-dark rounded-pill  my-3" type="submit">
					Se Connetcter
				</button>
			</form>
			<p>
				Vous n'avez pas encore de compte ?

				<a href={{ path('app_register') }} class="text-dark">
					<u>
						Créez-en un !</u>
				</a>
			</p>
		</div>
	</div>
{% endblock %}
