{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<div class="showArticle" style="background-image:url('{{ asset('images/articles') }}/{{ category.image }}')">
		<div class="showArticleTitle">
			<h2>Découvrez notre sélection d'articles pour :</h2>
			<h1>{{ category.name }}</h1>
		</div>
	</div>
	<h3 class="w-75 p-3">{{ category.description }}</h3>
	<div class="articleCards">
		{% for item in articles %}
			<div class="card mb-3 ">
				<img src="{{ asset('images/articles') }}/{{ item.image }}" class="card-img-top h-75" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ item.title }}</h5>
					<small class="text-body-secondary">
						{{ item.createdAt ? item.createdAt|date('Y-m-d') : '' }}
					</small>
					<p class="card-text">
						{{ item.content|slice(0, 120) }}...
					</p>
					<p class="card-text ">
						<small class="text-body-secondary">
							<a href={{ path('app_article_show',{'id':item.id } ) }} class="btn btn-sm btn-dark rounded-pill w-50">Lire l'article</a>
						</small>
					</p>
				</div>
			</div>

		        {% else %}
            <div>
                <h2>Aucun article trouvé</h2>
            </div>
        {% endfor %}
	</div>


	{# <a href="{{ path('app_category_index') }}">liste de categories</a> #}

{% endblock %}
