{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<section class="indexArticle">
		<div class="articlesTitle">
		<h1>DÉCOUVREZ NOS ARTICLES</h1>
			<h2>ACTUALITÉS & TIPS</h2>
		</div>
<div class="bodyarticle">

		<div class="articleCards">
			{% for item in articles %}
				<div class="card mb-3 ">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ item.title }}</h5>
						<small class="text-body-secondary">
							{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}
						</small>
						<p class="card-text">
							{{ item.content|slice(0, 150) }}...
						</p>
						{# <p class="card-text"> #}
					{# {% for categorie in categories %}
														<a href="{{ path('app_category_show', {'id':categorie.id}) }}">{{categorie.name}}</a>
													{% endfor %} #}
						{# <small>{{ item.category.name }}</small> #}
						{# <a href="{{ path('app_category_show', {'id':item.categories.id}) }}">{{item.categories.name}}</a> #}
					<p class="card-text ">
						<small class="text-body-secondary">
							<a href={{ path('app_article_show',{'id':item.id } ) }} class="btn btn-sm btn-dark rounded-pill w-50">Lire l'article</a>
						</small>
					</p>
				</div>
			</div>
		{% endfor %}
		</div>
		<aside class="categoryaside">
		
<div>
    <h2>Categories</h2>
    {% for categorie in categories %}
    <a href="{{ path('app_category_show', {'id':categorie.id}) }}">{{categorie.name}}</a>
	<hr>
{% endfor %}
</div>
<div class="destination">
    <h2>Destination</h2>
    {% for item in destinations %}
    <a href="{{ path('app_destination_show', {'id':item.id}) }}">{{item.name}}</a>
	<hr>
{% endfor %}
</div>
		</aside>
</div>
</section>{% endblock %}
