{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="showArticle" style="background-image:url('{{ asset('images/articles') }}/{{ article.image }}')">
		<div class="showArticleTitle">
			<h1>{{ article.title }}</h1>
			<div>Publié le
				{{article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</div>
		</div>
		{# <img src="{{ asset('images/articles') }}/{{ article.image }}" class="card-img-top" alt="..."> #}
	</div>

	<div class="showArticleContent">
		<h2>{{ article.title }}</h2>
		<div>
			{{ article.content }}</div>
		{# 
		    <a href="{{ path('app_article_index') }}">retour   </a> #}


		<div>
			<h3>
				{{ article.comment|length }}
				Commentaires sur l'article «{{ article.title }}»</h3>


			<div>
				{% for comment in comment %}
					<hr/>
					<h3>
						{{comment.User.username}}
						a dit :</h3>
                        <p>Publié le
				{{comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</p>
					<div>
						{{comment.content}}</div>

				{% endfor %}
			</div>
			<div>
				{% if is_granted('ROLE_USER') %}
					{# <a href="{{ path('app_comment_new', {'id':article.id}) }}">
						<button class="btn btn-sm btn-dark rounded-pill ">Laisser un commentaire</button>
					</a> #}
                    <hr/>
                        {{ include('comment/_form.html.twig') }}

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
